<head>

	<title>Admongrel Blog</title>
	<link rel="stylesheet" href="/css/main.css" />

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

	<!-- Favicons -->

	<link rel="icon" type="image/ico" href="/img/favicon.ico" sizes="32x32">
	<link rel="icon" type="image/ico" href="/img/favicon.ico" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<meta name="theme-color" content="#fff">

	<!-- Open Graph -->

	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
